<section class="cart py-16">

    <div class="order container mx-auto w-1/2">
        <div class="flex items-center border-b border-gray-300 pb-4">
            <img src="/img/cart-black.png" alt="Cart">
            <h1 class="font-bold ml-4 text-2xl">Order Summary</h1>
        </div>

        <div class="pizza-list">
            <div class="flex items-center my-8">
                <img src="/img/pizza.png" class="w-24" alt="">
                <div class="flex-1 ml-4">
                    <h1>Marinara</h1>
                    <span>MEDIUM</span>
                </div>

                <span class="flex-1">1 Pcs</span>
                <span class="font-bold text-lg">Rs. 300</span>
            </div>

            <div class="flex items-center my-8">
                <img src="/img/pizza.png" class="w-24" alt="">
                <div class="flex-1 ml-4">
                    <h1>Marinara</h1>
                    <span>MEDIUM</span>
                </div>

                <span class="flex-1">1 Pcs</span>
                <span class="font-bold text-lg">Rs. 300</span>
            </div>
        </div>


        <hr>

        <div class="text-right py-4">
            <div>
                <span class="text-lg font-bold">Total amount: </span>
                <span class="amount text-2xl font-bold ml-2">Rs. 300</span>
            </div>
            <div>
                <form action="" class="mt-12">
                    <input type="text" name="" class="border border-gray-400 p-2 w-1/2 mb-4" placeholder="Phone Number">
                    <input type="text" name="" class="border border-gray-400 p-2 w-1/2" placeholder="Address">
                    <div>
                        <button class="btn-primary px-8 py-2 rounded-full font-bold text-white mt-6" type="submit">Order
                            Now</button>
                    </div>
                </form>
            </div>

            <a href="" class="inline-block cursor-pointer btn-primary px-8 py-2 rounded-full font-bold text-white mt-6">
                Login to continue</a>
        </div>
    </div>


    <!-- <section class="empty-cart py-16">
        <div class="container mx-auto text-center">
            <h1 class="text-3xl font-bold mb-2">Empty Cart</h1>
            <p class="text-gray-500 text-lg mb-12">You haven't ordered a pizza yet.<br>
                Go to home to order now.</p>
            <img src="/img/empty-cart.png" class="w-2/5 mx-auto" alt="empty">
            <a href="/" class="inline-block py-2 px-6 rounded-full btn-primary text-white font-bold mt-12">Go Back</a>
        </div>
    </section> -->



</section>